@import './base.css';

#app {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: block; /* reset from display: flex; */
  }

  #app {
    display: block; /* reset from grid layout */
    grid-template-columns: none;
    padding: 0;
  }
}
